img{
    margin: 0 450px;
    height: 500px;
    width: 600px;
    border: none;
}
body{
    font-family: cursive;
    background-color: #95D7AE;
    color: #144f19;
}
hr{
    border: 1px solid black;
}
button{
    background-color: #7BAE7F;
    height: 60px;
    width: 110px; 
    border-radius: 7px; 
    transition: 0.3s;
    border: none;
    font-size: 18px;
    color: #144f19;
    font-family: cursive;
}
button:hover{
    background-color: #144f19;
    height: 40px;
    width: 80px;
    border-radius: 7px; 
    border: none;
    transition: 0.3s;
    font-size: 18px;
    color: #7BAE7F;
    font-family: cursive;
}
a {
    display: inline-block;      
  }
.center{
    display: flex;              
    justify-content: center;  
    align-items: center;  
  }