body{
    font-family: cursive;
    color: #454851;
    background-color: #95D7AE;
    color:  #144f19;
}
hr{
    border: 1px solid black;
}
input:hover{
    background-color: #2f5a33;
    border-radius: 5px; 
    height: 30px;
    width: 200px;
    font-size: 16px;
    color: #95D7AE;
    border: none;
    font-family: cursive;
}
select:hover{
    background-color: #2f5a33;
    border-radius: 5px; 
    color:#95D7AE;
    height: 30px;
    width: 100px;
    font-size: 16px;
    color: #144f19;
    border: none;
    font-family: cursive;
}
input{
    background-color: #7BAE7F;
    border-radius: 5px; 
    height: 30px;
    width: 200px;
    font-size: 16px;
    color: #144f19;
    border: none;
    font-family: cursive;
}
select{
    background-color: #7BAE7F;
    border-radius: 5px; 
    height: 30px;
    width: 100px;
    font-size: 16px;
    color: #144f19;
    border: none;
    font-family: cursive;
}
textarea{
    background-color: #7BAE7F;
    border-radius: 5px; 
    font-size: 16px;
    width: 500px;
    margin: 0px 150px;
    color: #144f19;
    border: none;
    font-family: cursive;
}
button{
    background-color: #7BAE7F;
    height: 60px;
    width: 110px; 
    border-radius: 7px; 
    transition: 0.3s;
    border: none;
    font-size: 18px;
    color: #144f19;
    font-family: cursive;
}
button:hover{
    background-color: #144f19;
    height: 40px;
    width: 80px;
    border-radius: 7px; 
    border: none;
    transition: 0.3s;
    font-size: 18px;
    color: #7BAE7F;
    font-family: cursive;
}
#neo:hover{
    background-color: #144f19;
    height: 40px;
    width: 80px;
    border-radius: 7px; 
    border: none;
    transition: 0.3s;
    font-size: 18px;
    color: #7BAE7F;
    font-family: cursive;
}
#neo{
    background-color: #7BAE7F;
    height: 60px;
    width: 110px; 
    border-radius: 7px; 
    transition: 0.3s;
    border: none;
    font-size: 18px;
    color: #144f19;
    font-family: cursive;
}
a {
    display: inline-block;      
  }
.center{
    display: flex;              
    justify-content: center;  
    align-items: center;  
  }