body{
    font-family: cursive;
    background-color: #144f19;
    color: #144f19;
}
hr{
    border: 1px solid black;
}
button{
    background-color: #7BAE7F;
    height: 60px;
    width: 110px; 
    border-radius: 7px; 
    transition: 0.3s;
    border: none;
    font-size: 18px;
    color: #144f19;
    font-family: cursive;
}
button:hover{
    background-color: #096510;
    height: 40px;
    width: 80px;
    border-radius: 7px; 
    border: none;
    transition: 0.3s;
    font-size: 18px;
    color: #7BAE7F;
    font-family: cursive;
}
button:active {
    transform: scale(0.8); 
    transition: transform 0.2s; 
  }
a {
    display: inline-block;      
  }
.center{
    display: flex;              
    justify-content: center;  
    align-items: center;  
  }
.Dry{
    border: 3px solid #144f19;
    border-radius: 7px;
    margin-bottom: 20px; 
    padding: 10px;
    background-color: #95D7AE;
}
.Fry{
    border: 3px solid #144f19;
    border-radius: 7px;
    margin-bottom: 10px; 
    padding: 10px;
    background-color: #95D7AE;
    margin: 0px auto;
}