body{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    background-color: #144f19;
    color: #144f19;
}
hr{
    border: 2px solid #144f19;
}
button{
    background-color: #7BAE7F;
    height: 70px;
    width: 200px; 
    border-radius: 7px; 
    transition: 0.3s;
    border: none;
    font-size: 16px;
    color: #144f19;
    font-family: "Courier New", Courier, monospace;
}
button:hover{
    background-color: #144f19;
    height: 50px;
    width: 150px;
    border-radius: 7px; 
    border: none;
    transition: 0.3s;
    font-size: 16px;
    color: #7BAE7F;
    font-family: "Courier New", Courier, monospace;
}
button:active {
    transform: scale(0.8); 
    transition: transform 0.2s; 
  }
a {
    display: inline-block;      
  }
.center{
    display: flex;              
    justify-content: center;  
    align-items: center;  
  }
.Dry{
    border: 3px solid #144f19;
    border-radius: 7px;
    margin-bottom: 20px; 
    padding: 10px;
    background-color:  #95D7AE;
}
.Fry{
    border: 3px solid #144f19;
    border-radius: 7px;
    margin-bottom: 20px; 
    padding: 10px;
    background-color: #95D7AE;
    margin: 0px auto;
}