body{
    font-family: verdana;
}
hr{
    border: 1px solid black;
}
body{
    background-color: #0A2463;
    color: #247BA0;
} 
button{
    background-color: #247BA0;
    height: 50px;
    width: 150px;
    margin: 0px 690px;
}
button:hover{
    background-color: #0A2463;
    height: 50px;
    width: 150px;
    margin: 0px 690px;
}