table{
    border: 3px solid #DB7F8E;;
  }
th, td{
  border: 3px solid #DB7F8E;; 
  }
body{ 
    font-family: cursive;
    background-color: #DB7F8E;
    color: #DB7F8E;
  }
hr{
    border: 2px solid #DB7F8E;;
  }
  button {
    background-color: #e36c80;
    height: 60px;
    width: 110px;
    color: #f9b7b5;
    border-radius: 7px; 
    border: none;
    font-size: 18px;
    transition: 0.3s;
    font-family: cursive;
  }
  button:hover {
    background-color: #f9b7b5;
    height: 40px;
    width: 80px;
    color: #DB7F8E;
    border-radius: 7px; 
    border: none;
    font-size: 18px;
    transition: 0.3s;
    font-family: cursive;
  }
  button:active {
    transform: scale(0.8); 
    transition: transform 0.2s; 
  }
  a {
    display: inline-block;      
  }
  .center{
    display: flex;              
    justify-content: center;  
    align-items: center;  
  }
  caption{
    font-size: 18px;
  }
.Dry{
    border: 3px solid #DB7F8E;
    border-radius: 7px;
    margin-bottom: 20px; 
    padding: 10px;
    background-color: #FFDBDA;
}